*{
   margin: 0;
   // this line is added to maintain  the github strike because now i am not doing any poject thats way i am doing this 
   padding: 0;
}

.body{
    background: url("../BG.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board{
    background: linear-gradient(yellow,red);
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(18,1fr);
}
// maintaining the github strick 

.head{
    background-color: rgb(26, 16, 23);
    border-radius: 3px;

}
.snake{
    background-color: rgb(17, 0, 255);
    border: .25vmin solid rgb(8, 1, 1);
    border-radius: 3px;
}
.food{
    background: linear-gradient(purple,rgb(128, 199, 166));
    /* background-image: url("BG.jpg"); */
    border-radius: 5px;
}


/* c23ecaf16e1880406d42b2e259e26d401b85f6c1 */
